body{
  background-color: #eee;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 130px 0;
}

.btn{
  border-color: #576544;
  background-color: #576544;
  border-radius: 12px;
}

.btn:hover{
  border-color: #576544;
  background-color: #698147;
}

/* .side-panel a{
  float: right;
  color: #434B4D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.side-panel a:hover{
  background-color: #222;
  color: white;
  border-radius: 12px;
} */

.profile .side-panel {
  font-family: "SB Sans Interface Semibold", sans-serif;
  height: 170px;
  width: 240px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.profile .side-panel .category.selected {
  cursor: pointer;
  padding: 18px;
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profile .side-panel .category{
  cursor: pointer;
  color: #434B4D;
  padding: 15.5px;
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.profile .side-panel .category:hover{
  background-color: #222;
  color: white;
  border-radius: 12px;
}

.profile .content-panel .information-about-account {
  font-family: "SB Sans Interface", sans-serif;
  width: 900px;
  border-radius: 12px;
  padding: 32.8px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.profile .content-panel .information-about-account .title {
  font-family: "SB Sans Interface Semibold", sans-serif;
}
.profile .content-panel .information-about-account .grid-container {
  font-family: "SB Sans Interface", sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.profile .content-panel .information-about-account .grid-container .grid-item {
  font-family: "SB Sans Interface", sans-serif;
  font-size: 16px;
  padding: 10px;
  text-align: left;
}
.profile .content-panel .information-about-account .grid-container > *:nth-child(3n) {
  font-family: "SB Sans Interface Semibold", sans-serif;
  cursor: default;
  color: green;
  text-align: end;
}

.visited-text {
    font-size: 18px;
    color: darkgreen;
    margin-bottom: 20px;
}

.end-text {
    font-size: 18px;
    color: red;
    margin-bottom: 20px;
}