{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>HOME</title>
    <div class="navbar">
        <a href="{% url 'register' %}" height="100">Sign Up</a>
        <a href="{% url 'profile' %}" height="40">Log in</a>
        <a href="{% url 'register' %}" height="100">Тропы</a>
        <a href="#donate">Голосование</a>
        <a class="img" href="#home"><img src="{% static 'img/logo.png' %}" alt="logo" height="40" width="180"></a>
    </div>
</head>
<body>
    <div class="block1">
        <p class="importanttag"><img src="{% static 'img/block1.png' %}" alt="красивое" class="tropimg"></p>
    </div>
    <div class="block2 center">
        <h1 class="title2">Что же такое треккинг?</h1>
        <p>Слово произошло от англиского <i>to trek</i> - ходить в дальние походы. Основное отличие этого вида походов от например хайкинга (<i>hiking</i>) это продолжительность в несколько дней, дальность и темп</p>
    </div>
    <div class="block3 center">
        <h1 class="title2">Планы по разработке</h1>
        <ul>
            <li>Функция обратной связи:<br> <span class="block3text">Внедрим возможность для пользователей оставлять отзывы и комментарии к тропам, которые они уже поситили. Это поможет другим пользователям принять решение.</span></li>
            <li>Интеграция с социальными сетями:<br> <span class="block3text">Добавим интеграцию с социальными сетями, чтобы пользователи могли делиться своими любимыми маршрутами в социальных сетях, для привлечения на платформу новых пользователей.</span></li>
            <li>Мобильная версия:<br> <span class="block3text">Разработаем мобильную версию сайта, что является более удобным вариантом для некоторых пользователей, также повысит привлекательность проекта.</span></li>
            <li>Система навигации:<br> <span class="block3text">Спроектируем систему навигации, которая позволит пользователям легко ориентироваться и голосовать за предпочитаемые регионы.</span></li>
            <li>Раздел с новостями:<br> <span class="block3text">Создадим раздел "Новости", чтобы регулярно информировать пользователей о новых маршрутах, о завершении прокладывания маршрутов в победивших регионах.</span></li>
        </ul>
    </div>
    <div class="block4">
        <h1 class="title2">Правила голосования</h1>
        <ol>
            <li>Голосование платное (стоимость одного голоса - 100рублей)</li>
            <li>Количество голосов на одного человека не ограничено</li>
            <li>Голосование проходи в два этапа:
                <ol>
                    <li>Окружной этап</li>
                    <li>Федеральный этап</li>
                </ol>
            </li>
            <li>Голосовать могут только зарегистрированные пользователи</li>
        </ol>
    </div>
    <!-- <div><a href="{% url 'profile' %}">LOGIN</a></div> -->
</body>
</html>


