{% extends 'main/Home.html' %}
{% load static %}

{% block imports %}
    <title>Голосование</title>
    <link rel="stylesheet" href="{% static 'css/vote.css' %}">
    <script src="https://maps.api.2gis.ru/2.0/loader.js"></script>
{% endblock %}

{% block content %}
<body>
    <main>
        <div class="container">
            <div class="flex-container">
                <div class="image">
                    <img src="{{ trail.trail_preview }}" alt="Памятник Советско-Польскому братству по оружию">
                </div>
                <div class="info">
                    <h2>{{ trail.trail_title }}</h2>
                    <p>4980 проголосовали за территорию</p>
                    <div class="center"><button class="btn"><a href="{% url 'vote_some_route' trail.id %}">Голосовать</a></button></div>
                    <div class="center"><button class="btn"><a href="{% url 'donate_some_route' trail.id %}">Поддержать деньгами</a></button></div>
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>{% url 'vote_some_route' trail.id %}
            </div>
        </div>

        <h3 style="padding: 0 450px;">Начало маршрута</h3>
        <div id="map" style="width: 52%; height: 400px; margin: auto"></div>
        <script>
            DG.then(function() {
                var map = DG.map('map', {
                    center: [54.98, 82.89],
                    zoom: 15
                });

                DG.marker([54.98, 82.89]).addTo(map);
            });
        </script>

        <div class="center"><button class="btn ots">ПОЛНЫЙ МАРШРУТ</button></div>

        <div class="container">
            <div class="description">
                <h2>Описание пути</h2>
                <p>{{ trail.trail_description }}</p>
            </div>
        </div>

    </main>

</body>
{% endblock %}
