{% extends 'main/Home.html' %}
{% load static %}

{% block imports %}
    <title>Голосование</title>
    <link rel="stylesheet" href="{% static 'css/vote.css' %}">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=d09ddd62-8b37-4eab-83cb-427400d7fdba" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container">
            <div class="flex-container">
                <div class="image">
                    <img src="{{ trail.trail_preview }}" alt="Памятник Советско-Польскому братству по оружию" height="500px" width="500px">
                </div>
                <div class="info">
                    <h2>{{ trail.trail_title }}</h2>
                    <a href="{% url 'go_some_route' trail.id %}"><div class="center"><button class="btn">Начать путешествие!</button></div></a>
                </div>
            </div>
        </div>

        <h3 style="padding: 0 380px;">Маршрут</h3>

        <div id="map"></div>

        <div class="container">
            <div class="description">
                <h2>Описание тропы</h2>
                <p>{{ trail.trail_description }}</p>
            </div>
        </div>

<script>
function init() {
    var pointA = [55.749, 37.524],
        pointB = "Москва, Красная площадь",
        /**
         * Создаем мультимаршрут.
         * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/multiRouter.MultiRoute.xml
         */
        multiRoute = new ymaps.multiRouter.MultiRoute({
            referencePoints: [
                pointA,
                pointB
            ],
            params: {
                //Тип маршрутизации - пешеходная маршрутизация.
                routingMode: 'pedestrian'
            }
        }, {
            // Автоматически устанавливать границы карты так, чтобы маршрут был виден целиком.
            boundsAutoApply: true
        });
        var changePointsButton = new ymaps.control.Button({
            data: {content: "Поменять местами точки А и В"},
            options: {selectOnClick: true}
        });

        // Объявляем обработчики для кнопки.
        changePointsButton.events.add('select', function () {
            multiRoute.model.setReferencePoints([pointB, pointA]);
        });

        changePointsButton.events.add('deselect', function () {
            multiRoute.model.setReferencePoints([pointA, pointB]);
        });

        // Создаем карту с добавленной на нее кнопкой.
        var myMap = new ymaps.Map('map', {
            center: [55.739625, 37.54120],
            zoom: 12,
            controls: [changePointsButton]
        }, {
            buttonMaxWidth: 300
        });

        // Добавляем мультимаршрут на карту.
        myMap.geoObjects.add(multiRoute);
    }

ymaps.ready(init);
</script>
{% endblock %}
