{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="content">
        <div class="container">
            <form id="login-form" method="post">
                {% csrf_token %}
                <input class="form-element" type="text" name="username" placeholder="Username">
                <input class="form-element" type="password" name="password" placeholder="Password">
                <a id="login-button" class="form-element" href="#" onclick="document.getElementById('login-form').submit()">LOGIN</a>
                <a id="login-button" class="form-element" href="{% url 'register' %}">REGISTER</a>
            </form>
        </div>
    </div>
</body>
</html>