{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>REGISTER PAGE</title>
</head>
<body>
    <div class="content">
        <div class="container">
           <form id="registration-form" method="post">
                {% csrf_token %}
                <input class="form-element" type="text" name="username">
                <input class="form-element" type="email" name="email">
                <input class="form-element" type="text" name="user_phone_number">
                <input class="form-element" type="checkbox" name="user_gender">
                <input class="form-element" type="text" name="user_postcode">
                <input class="form-element" type="password" name="password1">
                <input class="form-element" type="password" name="password2">
                <a class="form-element" href="#" onclick="document.getElementById('registration-form').submit()">SIGN UP</a>
                {{ form.errors }}
            </form>
        </div>
    </div>
    
    
</body>
</html>